:host {
	flex: 1 1 0;
	display: flex;
	height: 100%;
}
.sendgrid-header {
	min-height: 84px;
}
.email-sent-counter {
	width: 120px;
	padding: 10px 0 18px;
	background: #4c9ce5;
	color: white;
}
.link {
	cursor:pointer;
	text-decoration: underline;
}
.header-content {
	padding-top: 15px;
	margin-left: 20px;
}

mat-card {
	margin: 8px;
	padding: 8px;
}